.popup__close-button {
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../../../images/close-button.svg);
  background-color: transparent;
  border: none;
  position: absolute;
  right: -40px;
  top: -40px;
  transition: opacity .4s linear;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    right: 0;
    top: -35px;
  }
}

.popup__close-button:hover {
  opacity: .6;
}
