.login__input {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    width: 358px;
    color: white;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 7px;
    margin-bottom: 10px;
    font-weight: 500;
}

@media screen and (max-width: 568px) {
    .login__input {
        width: 260px;
    }
}