.popup__container {
  background-color: #fff;
  border-radius: 10px;
  padding: 34px 36px 37px;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 550px) {
  .popup__container {
    padding: 25px 22px 25px;
  }
}
