.header__button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 18px;
    transition: opacity .4s linear;
    cursor: pointer;
    margin-right: -8px;
    margin-top: 7px;
}

.header__button:hover {
    opacity: .6;
}

@media screen and (max-width: 568px) {
    .header__button {
        margin-right: 0px;
        font-size: 14px;
        margin-top: 4px;
        margin-right: 21px;
    }
}